<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    body{
    padding: 50px;
    }
    .young {
     color: green;
    }
    .not-that-young {
        color:  yellow;
    }

</style>
<body>
    <h1>With dict</h1>
    <h1>{{ title }}</h1>
    <h2>{{ person.last_name }}</h2>
    <h2>
        {{ 1as }}
    </h2>
    <p>{{ person.items }}</p>

    <h1>With class</h1>
    <h2>{{person_obj.first_name}}</h2>
    <h2>{{person_obj.last_name}}</h2>
    <h2>{{person_obj.full_name}}</h2>
    <h2>{{ ll }}</h2>

    <h1>Filters</h1>
    <p>
        {{ person_obj.full_name }}
    </p>
    <p>
        {{ person_obj.full_name|truncatechars:3 }}
    <p/>
    <p>
        {{ person_obj.full_name|truncatechars:33 }}
    </p>
    <p>
        {{ names|join:', ' }}
    </p>
    <p>{{ date }}</p>
    <p>{{ date|date:'D d M Y' }}</p>

    <p> {{ person|length}} </p>

    <hr>
    <h1>Tags</h1>

    {% if ages %}
        <p>{{ ages|join:', ' }}</p>
    {% endif %}

    <h2>for, for-empty</h2>

    <ul>
        {% for age in ages %}
            {% if age <= 20 %}
            <li class="young">
                <strong>{{ age }}</strong>
            </li>
        {% else %}
            <li class="not-that-young">
                <strong>{{ age }}</strong>
            </li>
            {%endif%}
        {% endfor %}
    </ul>
    <a href="{% url 'employee_details' pk=7 %}">Go to employee</a>
</body>
</html>